.leaflet-marker-icon {
    color: #fff;
    font-size: 16px;
    line-height: 16px;	
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 1px 4px rgba(0,0,0,0.3);
    border-radius: 8px;
    border:1px solid #fff;
}
.search-tip b {
    color: #fff;
}
.bar.search-tip b,
.bar.leaflet-marker-icon {
    background: #f66
}
.pharmacy.search-tip b,
.pharmacy.leaflet-marker-icon {
    background: #f6f
}
.restaurant.search-tip b,
.restaurant.leaflet-marker-icon {
    background: #66f
}
.search-tip {
    white-space: nowrap;
}
.search-tip b {
    display: inline-block;
    clear: left;
    padding: 0 4px;
    margin-left: 4px;
}
#map {
    min-height: 80vh;
}