#map {
    min-height: 80vh;
}
.search-tip a {
    padding: 0.5em;
}
.search-tip button {
    color: #fff;
    margin-right: 5px;
    padding: 2px;
    width: 3em;
    border: none;
}
.CDIN.search-tip button {
    background: #f66;
}
.CDI.search-tip button {
    background: rgb(49, 117, 218);
}
.CDR.search-tip button {
    background: rgb(23, 132, 146);
}
.CIC.search-tip button {
    background: rgb(179, 44, 44);
}
.search-tip {
	white-space: nowrap;
}